@model IEnumerable<Marshall.Web.UI.Models.Environment.ApplicationEnvironmentViewModel>


<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            ApplicationId
        </th>
        <th>
            Type
        </th>
        <th>
            ConfigSection
        </th>
        <th>
            SqlBackupJob
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfigSection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SqlBackupJob)
        </td>
    </tr>
}

</table>
