@model IEnumerable<Marshall.Web.UI.Models.Version.ApplicationViewModel>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Project Name
        </th>
        <th>
            Build Name
        <th>
            Specified Version
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamCityProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamCityBuildName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecifiedVersion)
        </td>
    </tr>
}

</table>
