@model Marshall.Web.UI.Models.Version.ApplicationViewModel

<fieldset>
    <legend>Version</legend>

    <table>
        <tr>
            <td style="font-style:italic">Name</td>
            <td> @Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td style="font-style:italic">Type</td>
            <td> @Html.DisplayFor(model => model.Type)</td>
        </tr>
         <tr>
            <td style="font-style:italic">Product Code</td>
            <td> @Html.DisplayFor(model => model.ProductCode)</td>
        </tr>
         <tr>
            <td style="font-style:italic">TeamCity Project Name</td>
            <td> @Html.DisplayFor(model => model.TeamCityProjectName)</td>
        </tr>
         <tr>
            <td style="font-style:italic">Build Name</td>
            <td> @Html.DisplayFor(model => model.TeamCityBuildName)</td>
        </tr>
         <tr>
            <td style="font-style:italic">Specified Version</td>
            <td> @Html.DisplayFor(model => model.SpecifiedVersion)</td>
        </tr>
         <tr>
            <td style="font-style:italic">Installation File</td>
            <td> @Html.DisplayFor(model => model.FileToInstall)</td>
        </tr>
         <tr>
            <td style="font-style:italic">Config File</td>
            <td> @Html.DisplayFor(model => model.ConfigFile)</td>
        </tr>
         <tr>
            <td style="font-style:italic">.NET Framework Version</td>
            <td> @Html.DisplayFor(model => model.NetFrameworkVersion)</td>
        </tr>
         <tr>
            <td style="font-style:italic">Working Directory Prefix</td>
            <td> @Html.DisplayFor(model => model.WorkingDirectoryPrefix)</td>
        </tr>
         <tr>
            <td style="font-style:italic">SVN Prefix</td>
            <td> @Html.DisplayFor(model => model.SubversionPrefix)</td>
        </tr>
         <tr>
            <td style="font-style:italic">SVN Working Directory Prefix</td>
            <td> @Html.DisplayFor(model => model.SubversionWorkingDirectoryPrefix)</td>
        </tr>
         <tr>
            <td style="font-style:italic">SVN Specified Version</td>
            <td> @Html.DisplayFor(model => model.SubversionSpecifiedVersion)</td>
        </tr>
        @if ((Model.ServiceEntries != null && Model.ServiceEntries.Count() > 0))
        {
            var serviceTableName = Guid.NewGuid().ToString();
            <tr>
                <td colspan="2"> 
                    <a href="#" id="button" onclick="$('#@serviceTableName').toggle({effect:'fade'});"> Service Entries</a>
                    <table id="@serviceTableName">
                        <tr>
                            <th>Contract</th>
                            <th>Service</th>
                            <th>Binding</th>
                        </tr>
                        @foreach (var service in Model.ServiceEntries)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => service.Contract)</td>
                                <td>@Html.DisplayFor(m => service.ServiceFile)</td>
                                <td>@Html.DisplayFor(m => service.Binding)</td>
                            </tr>
                        }
                    </table>
                     <script>$('#@serviceTableName').toggle();</script>
                </td>
            </tr>
        }
        @if ((Model.PingTargets != null && Model.PingTargets.Count() > 0))
        {
            var pingTargetTableName = Guid.NewGuid().ToString();
            <tr>
                <td colspan="2"> 
                    <a href="#" onclick="$('#@pingTargetTableName').toggle({effect:'fade'});">Ping Targets</a>
                    <table id="@pingTargetTableName">
                        <tr>
                            <th>Name</th>
                            <th>Service</th>
                            <th>Url Suffix</th>
                        </tr>
                        @foreach (var target in Model.PingTargets)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => target.Name)</td>
                                <td>@Html.DisplayFor(m => target.ServiceFile)</td>
                                <td>@Html.DisplayFor(m => target.urlSuffix)</td>
                            </tr>
                        }
                    </table>
                     <script>$('#@pingTargetTableName').toggle();</script>
                </td>
            </tr>
        }
    </table>
</fieldset>
