@model IEnumerable<Marshall.Web.UI.Models.Version.ApplicationViewModel>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Build Name
        <th>
            Specified Version
        </th>
    </tr>

@foreach (var item in Model)
{
    var applicationDetailsRowName = Guid.NewGuid().ToString();
    <tr>
        <td>
             <a style="text-decoration: underline" id="button" onclick="$('#@applicationDetailsRowName').toggle({effect:'fade'});"> @Html.DisplayFor(modelItem => item.Name)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamCityBuildName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecifiedVersion)
        </td>
    </tr>
    <tr id="@applicationDetailsRowName">
        <td colspan="3">
        <table>
            <tr>
                <td style="vertical-align: top">
                @Html.Partial("ApplicationDetails",item)
                </td>
                <td style="vertical-align: top">
                @Html.Partial("ApplicationEnvironmentDetails",item)
                </td>
        </tr>
        </table>
        </td>
    </tr>
     <script>$('#@applicationDetailsRowName').toggle();</script>
}

</table>
