@model IEnumerable<Marshall.Web.UI.Models.Environment.CaConfig>

<table>
    <tr>
        <th>
            Port
        </th>
        <th>
            Server
        </th>
        <th>
            User
        </th>
        <th>
            Password
        </th>
    </tr>

@foreach (var item in Model)
{
    var passwordDivName = "caPasswordDiv";
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Port)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Server)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            <a href="#" id="button" onclick="$('#@passwordDivName').toggle({effect:'fade'});">Show</a>
            <div id="@passwordDivName">@Html.DisplayFor(modelItem => item.Password)</div>
            <script> $('#@passwordDivName').toggle();</script>
        </td>
    </tr>
}

</table>
