@model Marshall.Web.UI.Models.EnvironmentDetailsViewModel

@{
    ViewBag.Title = "EnvironmentDetails";
}

<h2>Applications</h2>
@Html.Partial("ApplicationVersion",@Model.Applications)

<h2>Databases</h2>
@Html.Partial("DatabaseConfiguration",@Model.Databases)

<h2>Application Pools</h2>
@Html.Partial("ApplicationPool",@Model.ApplicationPools)

<h2>Ca Config</h2>
@Html.Partial("CaConfig",new[]{@Model.CaConfig})

<h2>Sql Job</h2>
@Html.Partial("SqlJob",@Model.SqlJobs)
