@model Marshall.Web.UI.Models.EnvironmentDetailsViewModel

@{
    ViewBag.Title = "EnvironmentDetails";
}

<div id="accordion">
    <h2><a href="#">Applications</a></h2>
	<div>
        @Html.Partial("ApplicationVersion",@Model.Applications)
    </div>

     <h2><a href="#">Databases</a></h2>
	<div>
        @Html.Partial("DatabaseConfiguration",@Model.Databases)
    </div>

    <h2><a href="#">Application Pools</a></h2>
	<div>
        @Html.Partial("ApplicationPool",@Model.ApplicationPools)
    </div>

    <h2><a href="#">CA Config</a></h2>
    <div>
        @Html.Partial("CaConfig",new[]{@Model.CaConfig})
    </div>

    <h2><a href="#">Sql Jobs</a></h2>
    <div>
        @Html.Partial("SqlJob",@Model.SqlJobs)
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#accordion").accordion({ collapsible: true, autoHeight:false });
    });
</script>